body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #333;
  font-size: 24px;
}

.header p {
  color: #666;
}

.content {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
}

.loading {
  margin-left: 110px;
  color: #777;
}

.Loading_forum {
  margin-left: 2%;
}

.weather-details {
  text-align: center;
  margin-top: 20px;
}

.weather-details h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.weather-details p {
  color: #555;
  margin: 5px 0;
}
.city-management {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.city-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.city-name {
  color: #444;
  font-size: 16px;
}

.remove-button {
  background-color: #ff5555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.remove-button:hover {
  background-color: #ff3333;
}

.weather-details p {
  color: #555;
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.4;
}

.city-name {
  color: #444;
  font-size: 16px;
}

.city-item p {
  margin: 0;
  color: #777;
  font-size: 14px;
}
